.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container h1{
    font-family: sans-serif;
}

.container>select {
    padding: 10px;
    width: 600px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
}

 option{
    padding: 10px;
}

.options{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 200px;
}

.options button{
    padding: 15px;
    width: 200px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}

#cancel:hover{
    background: #d14803;
    transition: all .3s ease-in-out;
}

#confirm:hover{
    background: #f45302;
    transition: .3s ease;
}

#back{
    margin-top: 100px;
    padding: 15px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background: #f68248;
    transition: all .3s ease-in;
}

